* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #141414;
}

h1 {
    color: white;
    font-size: 50px;
}

p {
    color: white;
    font-size: 30px;
}